<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buoi1">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <activity android:name=".ListLinkActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".ProductDescriptionActivity" />
        <activity android:name=".BrandProductsActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".AddressSelectionActivity" />
        <activity android:name=".OrderHistoryActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AdminProductListActivity" />
        <activity android:name=".AdminProductEditActivity" />
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".AdminOrderListActivity" />
        <activity android:name=".AdminOrderDetailActivity" />
        <activity android:name=".AdminUserListActivity" />
        <activity android:name=".AdminDealListActivity" />
        <activity android:name=".QrPaymentActivity" />
        <activity android:name=".WarrantyActivity" />
        <activity android:name=".AdminWarrantyListActivity" />
    </application>

</manifest>
